---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/*CSS to override theme defaults*/
/*=============================*/

/*Masthead Customizations*/
/*File settings are overidding: _masthead.scss*/
/*                              _navigation.scss*/
/*Makes site title appear in normal text in masthead, rather than bold*/
/*.masthead and .greedy-nav set the same footer color as the masthead background color*/
/*=============================*/
.site-title {
  font-weight: normal;
}

.masthead {
  background: $footer-background-color;
}
.greedy-nav {
  background: $footer-background-color;
}

/*Page Customizations*/
/*File settings are overidding: _page.scss*/
/*Changes font sizes on all pages, including home and about*/
.archive__item-title {
  font-size: $type-size-5;
}

.page__title {
  font-size: $type-size-5;
}

.page__content {
  p,
  li,
  dl {
    font-size: $type-size-6;
  }
}

.page__meta {
  font-size: $type-size-8;
}

/*Syntax Customizations(Highlighting)*/
/*File settings are overidding: _syntax.scss*/
/*Fix font size in syntax highlighing to match other CSS changes*/
/*The margin-top setting is not explicitly set in _syntax.scss but is there to remove the large gap between elements above the figure*/
figure.highlight {
  font-size: $type-size-7;
  margin-top: 0;
}

/*Syntax Customizations(Highlighting)*/
/*File settings are overidding: _base.scss*/
/*Heading font-sizes*/
/*NOTE that the _base.scss goes all the way to h6*/
h1 {
  font-size: $type-size-5;
}

h2 {
  font-size: $type-size-6;
}

h3 {
  font-size: $type-size-7;
}

h4 {
  font-size: $type-size-8;
}
